doctype html
html(lang='ru')
  head
    title Grunt PlayGround
    link(rel='stylesheet', href='./assets/css/application.css')
    script(type='text/javascript' src='./assets/js/application.js')
    script(type='text/javascript' src='http://localhost:9000/livereload.js')
  body
    h1 Grunt PlayGround
